@import '../../assets/stylesheets/variables';

.allFlights {
  width: 100%;
  margin-top: 70px;

  .flightLabel {
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 4px;
  }

  .flightLabel.eco {
    color: $eco-green;
  }

  .flightLabel.business {
    color: $business-blue;
  }
}
