@import '../../assets/stylesheets/variables';

#logo {
  float: left;
  font-size: 1.7em;
  color: $purple;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}
