@import '../../../assets/stylesheets/variables';

.progressTab {
  padding: 0.3em 1em;
  margin-right: 1.5em;
  font-size: 0.8em;
  font-weight: bold;
  color: $dark-blue;
  background: white;
  border-radius: 5px;

  .index {
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin-right: 0.6em;

    .completed {
      color: $complete-green;
    }
  }
}

.progressTab.active {
  background: $dark-light-blue;
  color: white;
  
  .index {
    background: white;
    color: $dark-blue;
    border-radius: 50%;
  }
}
